.service__list{
    display: grid;
    grid-template-columns: auto auto auto;

    background: rgb(24,3,4);
    
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    
}
.service__item{
    width: 390px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-img{ height:310px;width:100%;object-fit:cover;flex-shrink: 0;
}
.service__item-top{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service__title{
    padding: 12px 40px;
    width: 273px;
    background-color: red;
    border-radius: 10px;
    text-align: center;

    position: absolute;
    bottom: -16px;
    border: 1px solid red;
    transition: 0.2s linear;
}
.service__title:hover{
    background-color: white;
}
.service__title:hover .service-title{
    color: red;
}
.service__title>span{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}
.service__desc{
    text-align: center;
    margin-top: 30px;
    
}
.service__desc>span{
    color: white;
    font-size: 14px;
    line-height: 2;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.feedback__item{
    width: 375px;
    height: 221px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    display: flex;
}
.feedback__card{
    position: relative;
    padding: 30px;
}
.feedback__content{
    height: calc(210px - 50px);
    display: flex;
    flex-direction: column;
}
.feedback__desc{
    flex: 1;
}
.feedback__desc>span{
    line-height: 1.5;
    display:-webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.feedback-buttom{
    margin-top: auto;
    flex-shrink: 0;
}
.feedback__buttom{
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.feedback__title{

}
.feedback__sao{
    text-align: right;
}
.feedback__avt{
    position: relative;
   
}
.circle{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    position: absolute;
    right: -8px;
    bottom: -40px;   
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94,104,121, .288);

}
.circle-childe{
    content: '';
    width: 85%;
    height: 85%;
    background-color:transparent;
    border-radius: 50%;
    box-shadow:  -3px -3px 7px #ffffff73,  3px 3px 5px rgba(94,104,121, .288);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle-childe>img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feedback-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}